@import url('https://fonts.googleapis.com/css?family=Rancho&display=swap');
body{
 background-color: #fcd2ef;
 
}
.form-control,label{
    font-family: 'Rancho', cursive;
    font-size: 150%;
}

.form-control{
border: 1px solid black; 
border-radius: 4px;
}
.border{
border: 1px solid black; 
padding: 10px;
/* background-color: #ffe6e6; */
}


.form-control:focus {
    border-color: #fcd2ef;
    box-shadow: 0px 1px 1px rgba(197, 7, 150, 0.075) inset, 0px 0px 8px rgba(228, 28, 151, 0.5);
}
h2{
    font-family: 'Rancho', cursive;
}
